<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 添加该配置 %clr 配置才能生效 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="application" source="spring.application.name"/>

    <!-- 定义全局属性 -->
    <property name="APP_NAME" value="springboot-example"/>
    <property name="charset" value="UTF-8"/>

    <!--magenta 紫色-->
    <!--cyan 青色-->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %clr([%-5level]) %clr([%thread]){magenta} %clr([%logger{36}.%M.%L]){cyan} - %m%n ${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- 配置输出日志到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <!--控制台-->
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
